body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;




}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    padding: 10px 0;
}

.lin {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.links {


}

